<!DOCTYPE html>
<html lang="en">

{% extends "Preentrega3App/padre.html" %}
{% load static %}


{% block Contenidoquecambia %}
<div class="container px-lg-5">
    <div class="p-4 p-lg-2 bg-light rounded-3 text-center">
        <div class="m-4 m-lg-7 mb-4">

            {% if formulario.errors  %}

            <p>Hay un error en los datos ingresados.</p>

            {% endif %}

            <form action="" method = 'POST'> {% csrf_token %}

                <table>

                    <h2>Contacta con Nosotros</h2>

                    <p>Si tienes algún tipo de pregunta o comentario, por favor completa el siguiente formulario para contactar con nosotros. Gracias.</p> 

                    {{formulario.as_table}}
                </table>
                <div class="d-flex justify-content-start mt-4" >
                    <input type="submit", value = "Enviar" class="btn btn-primary btn-sm" >
                </div>
            </form>
        </div>
    </div>
</div>


{% endblock %}



 
</html>