<!DOCTYPE html>
<html lang="en">

{% extends "Preentrega3App/padre.html" %}
{% load static %}
{% block Contenidoquecambia %}

<section class="pt-4">
    <div class="container px-lg-5">
        <!-- Page Features-->
        <div class="row gx-lg-5">

            {% if request.user.is_authenticated %}

            <a href="{% url 'PlayasCrear' %}" class="btn btn-primary btn-sm" style="width: 150px; height: 30px;margin-right: 10px; margin-bottom: 5px; text-align: right;">Agregar nueva playa</a>

            {% endif %}

            {% if object_list %}

            <div style="text-align: right;">
            <form action="/buscarplaya/" method = 'GET'>

                <input type="text", name = "nombre_playa", id = "nombre_playa">
        
                <input type="submit" class="btn btn-primary btn-sm", value = "Buscar">
        
            </form>
            </div>
            <br>
            <br>
            <br>

            {% for playa in object_list %}
            <div class="col-lg-6 col-xxl-4 mb-5">

                <div class="card bg-light border-0 h-100">
                    <div class="card-body text-center p-4 p-lg-5 pt-0 pt-lg-0">
                        <br>
                        <h2 class="fs-4 fw-bold"> {{playa.nombre_playa}} </h2>
                        <p class="mb-0">{{playa.desc_abreviada_playa}}</p>
                        
                        <a href="{% url 'PlayasDetail' pk=playa.id %}" class="btn btn-primary btn-sm mt-2">Ver más</a>

                    </div>
                </div>
                
            </div>
            {% endfor %}

            {% else %}
            <p>No hay información disponible</p>
            {% endif %}





        </div>
    </div>
</section>

{% endblock %}
