<!DOCTYPE html>
<html lang="en">

{% extends "Preentrega3App/padre.html" %}
{% load static %}


        {% block Contenidoquecambia %}


        <form method = 'POST'> 
            
        {% csrf_token %}

        <p>¿Estás seguro de que deseas eliminar el registro {{object.nombre_pueblo}}?</p>


        <input type="submit" class="btn btn-primary btn-sm" style="width: 120px; height: 30px;margin-right: 10px; margin-left: 10px; margin-bottom: 5px;", value = "Borrar">

        </form>

        {% endblock %}



 
</html>