<!DOCTYPE html>
<html lang="en">
{% extends "Preentrega3App/padre.html" %}
{% load static %}

{% block Contenidoquecambia %}
<div class="container px-lg-5">
    <div class="p-4 p-lg-2 bg-light rounded-3 text-left">
        <div class="m-4 m-lg-7 mb-4">

{% for sobrenosotros in object_list %}

<h1> {{ sobrenosotros.titulo_sobre_nosotros }}</h1>

<p> {{ sobrenosotros.texto_sobre_nosotros }} </p>

<a href="{% url 'SobreNosotrosEditar' pk=sobrenosotros.id %}" class="btn btn-primary btn-sm">Editar</a>

{% empty %}

<a href="{% url 'SobreNosotrosCrear' %}" class="btn btn-primary btn-sm">Añadir nuevo</a>


{% endfor %}
</div>
</div>
</div>    
{% endblock %}