<!DOCTYPE html>
<html lang="en">
    
{% extends "Preentrega3App/padre.html" %}
{% load static %}

{% block Contenidoquecambia %}

<div class="container px-lg-5">
    <div class="p-4 p-lg-2 bg-light rounded-3 text-left">
        <div class="m-4 m-lg-7 mb-4">
            <form action="" method="POST" enctype="multipart/form-data">
                {% csrf_token %}

                <table>
                {{ form.as_table }}
                </table>

                <button type="submit" class="btn btn-primary btn-sm">Guardar</button>   <a href="{% url 'Inicio' %}" class="btn btn-primary btn-sm">Cancelar</a>

                <a href="{% url 'CambiarPassword' %}" class="btn btn-primary btn-sm">Cambiar contraseña</a>
            </form>
        </div>
    </div>
</div>


{% endblock %}

</html>